# --- Application Environment ---
NODE_ENV=development

# --- Microservices Ports & Hosts ---
GATEWAY_HOST=localhost
GATEWAY_PORT=3000
GATEWAY_URL=http://localhost:3000

AUTH_SERVICE_HOST=localhost
AUTH_SERVICE_PORT=3001
AUTH_SERVICE_URL=http://localhost:3001

PAYMENT_SERVICE_HOST=localhost
PAYMENT_SERVICE_PORT=3002
PAYMENT_SERVICE_URL=http://localhost:3002

PROVISIONING_SERVICE_HOST=localhost
PROVISIONING_SERVICE_PORT=3003
PROVISIONING_SERVICE_URL=http://localhost:3003

FRONTEND_HOST=localhost
FRONTEND_PORT=5173
FRONTEND_URL=http://localhost:5173

# --- Database Configuration ---
DATABASE_URL=./database/sqlite.db

# --- Security & Authentication (JWT) ---
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=24h

# --- Payment Gateway (Midtrans) ---
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SERVER_KEY=Mid-client-YOUR_CLIENT_KEY
MIDTRANS_CLIENT_KEY=Mid-server-YOUR_SERVER_KEY

# --- Provisioning & Docker ---
DOCKER_HOST=unix:///var/run/docker.sock
